<!DOCTYPE html>
<html lang="hu" data-bs-theme="dark">
  <head>
    <%- include('partials/header', {title: "Felhasználók"} ) %>
  </head>
  <body>
    <%- include('partials/nav') %>

    <div
      class="container-fluid h-100 d-flex justify-content-center align-items-center flex-column mt-5"
    >
      <h3>Felhasználók</h3>
      <table class="table table-striped mt-3 w-75">
        <thead>
          <tr>
            <th>ID</th>
            <th>Felhasználónév</th>
            <th>Email</th>
            <th>Csoport</th>
            <th>Események</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(element => { %>
          <tr>
            <td>
              <input
                id="<%= element.id %>"
                value="<%= element.id %>"
                disabled
              />
            </td>
            <td>
              <input
                id="<%= element.id %>nev"
                value="<%= element.username %>"
              />
            </td>
            <td>
              <input id="<%= element.id %>email" value="<%= element.email %>" />
            </td>
            <td>
              <select class="form-select" id="<%= element.id %>group">
                <option selected><%= element.groupsNeve %></option>
                <% groups.forEach(group => { %>
                <option value="<%= group.neve %>"><%= group.neve %></option>
                <% }) %>
              </select>
            </td>
            <td>
              <button
                class="btn btn-info"
                onclick="UpdateUser('<%= element.id %>')"
              >
                Módosítás
              </button>
              <button
                class="btn btn-danger"
                onclick="Delete('<%= element.id %>')"
              >
                Törlés
              </button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
  <script>
    function Delete(id) {
      fetch(`/user/delete`, {
        headers: {
          "Content-Type": "application/json",
        },
        method: "DELETE",
        body: JSON.stringify({ id: id }),
      }).then((res) => {
        location.reload();
      });
    }

    function UpdateUser(id) {
      const username = document.getElementById(id + "nev");
      const email = document.getElementById(id + "email");
      const groupSelect = document.getElementById(id + "group");

      fetch(`/user/update`, {
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
        method: "PUT",
        body: JSON.stringify({
          id: id,
          username: username.value,
          email: email.value,
          groupId: groupSelect.value,
        }),
      })
        .then(async (res) => {
          console.log(res.status);
          console.log(await res.json());

          if (res.status === 200) {
            location.reload();
          }
        })
        .catch((error) => console.error("Error:", error));
    }

    function logout() {
      fetch("/auth/logout", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
      })
        .then((response) => {
          if (response.ok) {
            window.location.href = "/";
          } else {
            console.error("Logout failed");
          }
        })
        .catch((error) => console.error("Error during logout:", error));
    }
  </script>
</html>
